<h5><%= heading %></h5>
<ul>
  <% users = users_off_on_given_day(user_id, date) %>
  <% if users.empty? %>
    <li>None</li>
  <% else %>
    <% users.each do |user| %>
      <li><%= user.full_name %></li>
    <% end %>
  <% end %>
</ul>
