<div id="report-absences">
	<table id="absences">
		<thead>
			<th>User</th>
			<th>Absence Type</th>
			<th>Start date</th>
			<th>End date</th>
			<th>Description</th>
			<th>Working days</th>
			<th>Status</th>
		</thead>
    <tbody>
      <%= will_paginate @users %>
      <%= render partial: 'absence_table_split', :locals => { :current_user => current_user } %>
      <% @users.each do |user| %>
        <%= render partial: 'absence_table_split', :locals => { :current_user => user } %>
      <% end %>
		</tbody>
	</table>
</div>
